html,body{
	font-size: 14px;
}
.menu{
	height: 3.5em; /*2.5em;*/
	padding-top: 1em;
	/*position: fixed;*/
	width: 100%;
	border-bottom: solid 1px #999;
}
.menu .brand{
	float: left;
}
.menu ul{
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu ul li{
	background: #ddd;
	padding: .5em;
	border-radius: .25em;
	display: inline-block;
}

.masthead{
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: -4.5em;
	padding-top: 4.5em;
	background: gray;
}
