/*Twitter Bootstrap icon override to resolve Font-Awesome usage*/
[class^="icon-"], [class*=" icon-"]{
	background: none;
}

html,body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #777;
}
h1,h2,h3,h4,h5,h6{
	margin: .25em auto;
}

a{
	color: #444;

}
a:hover{
	text-decoration: none;
	color: #000;
	text-shadow: 0 0 0px #333;
}

.menu{
	display: inline-block;
	min-height: 3.5em;
	width: 100%;
	border-bottom: solid 1px #999;
	border-bottom: solid 1px rgba(0,0,0,.15);
}
.menu a{
	color: #444;
}

.menu .brand{
	float: left;
	padding-top: .625em;
	font-size: 1.5em;
	text-align: center;
	/*width: 100%;*/
}
@media (max-width: 767px){
	.menu .brand{
		width: 100%;
	}
}


	ul.full-menu{
		list-style-type: none;
		margin: 0;
	}
ul.full-menu li{
	text-transform: uppercase;
	margin-top: 1.25em;
	margin-left: 40px;
	border-radius: .25em;
	display: inline-block;
	text-align: center;
}
ul.full-menu li a{
	text-decoration: none;
}
	ul.full-menu li a:hover{
		text-shadow: 0 0 1px #555;
	}

.masthead{
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: -4.5em;
	margin-bottom: 1em;
	padding-top: 4.5em;
	padding-bottom: 1em;
	/*border-bottom: solid 3px #fff;*/
	/*box-shadow: 0 0 .5em 0 #999;*/
}
.masthead h1{
	font-weight: 300;
}
.masthead:before{
	content: '';
	position: absolute;
	width: 100%;
	top: 0;
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: 1em;
	/*margin-top: -1em;*/
	border: solid 2px #ffd65e;
	box-shadow: 0 -.25em 1em 0 #999;
}

.full-menu .active{
	/*display: inline-block;*/
/*	width: 30px;
	height: 5em;
	background: #8ade77;
	float: right;*/
	position: relative;
}
	.full-menu .active:after{
		content: '';
		position: absolute;
		left: 0;
		width: 20px;
		height: 5em;
		margin-top: -1.5em;
		left: -25px;
		background: #8ade77;

		background: #68a559; /* Old browsers */
		background: -moz-linear-gradient(top,  #68a559 0%, #8ade77 36%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#68a559), color-stop(36%,#8ade77)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #68a559 0%,#8ade77 36%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #68a559 0%,#8ade77 36%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #68a559 0%,#8ade77 36%); /* IE10+ */
		background: linear-gradient(to bottom,  #68a559 0%,#8ade77 36%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68a559', endColorstr='#8ade77',GradientType=0 ); /* IE6-9 */


	}
	.full-menu .active:before{
		content: '';
		position: absolute;
		width: 0; 
		height: 0; 
		margin-top: 3.5em;
		left: -25px;
		color: #8ade77;
		border-right: 10px solid #8ade77;
		border-left: 10px solid #8ade77;
		border-bottom: 4px solid transparent;
	}

.gravatar{
	display: inline-block;
	width: 10em;
	border-radius: 50%;
	overflow: hidden;
	margin: -1em 2em 0 -1em;

	box-shadow: 0 0 0 8px #fff;
}
	.gravatar img{
		
	}

footer{
	border-top: solid 1px #ccc;
	/*background: #333;*/
	padding-top: 1em;
	margin-top: 1em;
	/*box-shadow: inset 0 3em 9em -2em #999, 0 -2px 3em 0 #ddd;*/
	/*border-top-left-radius: .5em;*/
	/*border-top-right-radius: .5em;*/
}

footer small{
	/*background: #222;*/
	display: block;
	width: 100%;
	text-align: center;
}

.contact{
	list-style-type: none;
	margin: 0;
	padding: .5em;
	text-align: center;
	text-transform: uppercase;
}
	.contact a{
		color: #555;
		display: inline-block;
		background: #444;
		margin: .5em;

		border-radius: 50%;
		box-shadow: 0 0 .5em 0 #999;
	}
	.contact a:hover i{
		color: #fff;
	}
	.contact i{
		display: block;
		margin: .5em;
		color: #ddd;
		text-align: center;
		width: 1em;
		height: 1em;
		font-size: 1em;
		text-shadow: -1px -1px #000;
	}

.posts{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	.posts li{
		border-bottom: solid 1px #ddd;
	}
	.posts li:last-child{
		border-bottom: none;
	}
	.posts article{
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.posts time{
		/*width: 100%;*/
	}
	.posts .title{
		font-size: 2em;
		font-weight: 300;
		margin: 0 0 .5em 0;
		padding-top: 0;
		line-height: 1em;
		/*background: #edebe8;*/
		/*padding: .25em .5em;*/
		/*border-radius: .25em;*/
	}
	.posts img{
		border-radius: .5em;
		width: 100%;
		height: auto;
	}
	.posts p{
	}
/*	.posts p:before{
		content: ' ';
		position: absolute;
		margin-left: 5%;
		margin-top: -2em;
		width: 0; 
		height: 0; 
		border-right: 0 solid transparent;
		border-left: 35px solid transparent;
		border-bottom: 25px solid #edebe8;
	}*/
	.posts .category{
		color: #fff;
		text-transform: capitalize;
		height: 5em;
		width: 5em;

		margin: auto auto;
		background: #ffd65e;
		border-radius: 4em;

		display: table;

		/* Safari */
		-webkit-transform: rotate(-7deg);

		/* Firefox */
		-moz-transform: rotate(-7deg);

		/* IE */
		-ms-transform: rotate(-7deg);

		/* Opera */
		-o-transform: rotate(-7deg);


	}
	.posts .category i{
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}
/*	.posts .category:before{
		content: '\2022';
		font-size: 2em;
		position: relative;
		/*margin-left: -.4em;*/
	}*/
	.posts .category:after{
		content: '';
		
	}
	.posts .read-more:after{
		content: '\00bb';
		padding-left: .5em;
	}
	.posts .read-more a:hover{
		padding-right: .75em;
	}





.toggle-switch {
	position: relative;
  width: 100%;
  margin-top: .5em;
}
 
.toggle-switch .bg {
		/*position: absolute;*/
    width:2em; 
    height:2em;
}
 
.toggle-switch label { 
		display: block; 
		overflow: hidden;
		width: 2em;
		height: 2em;

		background: #444;
		margin: auto auto;
		text-align: center;

		border-radius: .5em;
}
	.toggle-switch label span{
		display: block;
		width: 2em;
		height: 2em;

		transition: all 2s;
		-webkit-transition: margin 300ms;
	}
	.toggle-switch label span:nth-child(1){
		color: #ccc;
	}
	.toggle-switch label span:nth-child(2){
		color: #fff;
	}
.toggle-switch input:checked ~ label {
	background: #222;
	color: #fff;
}
.toggle-switch input:checked ~ label span:nth-child(1){
	margin-top: -2em;
}
 

.mobi-menu{
	visibility: hidden;
	z-index: 1000;
	left: 0;
	/*top: 3.5em;*/
	margin-top: 1em;
	width: 100%;
	height: 0;
	background: #fff;
	position: absolute;
	text-transform: uppercase;
	text-align: center;

	box-shadow: 0 3em 2em 2em white;
}
.toggle-switch input:checked ~ .mobi-menu{
	visibility: visible;
	position: absolute;
	background: #fff;
	height: auto;
}
.mobi-menu li{
	width: 100%;
}

.toggle-switch input { 
	display:none; 
	margin: 0;
	padding: 0;
}