<div class="container-fluid">
	<header class="menu">
		<a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
		<ul class="full-menu hidden-phone pull-right">
		  {% assign pages_list = site.pages %}
		  {% assign group = 'navigation' %}
		  {% include JB/pages_list %}
		</ul>
	
		<div class="toggle-switch visible-phone">
			<input type="checkbox" id="toggle-1" />
			<!-- <div class="bg"></div> -->
			<label for="toggle-1">
				<!-- <span><i class="icon-reorder"></i></span>  -->
				<span><i class="icon-reorder"></i></span><span><i class="icon-arrow-up"></i></span>
			</label>
			<ul class="mobi-menu nav nav-tabs nav-stacked">
				{% assign pages_list = site.pages %}
		    {% assign group = 'navigation' %}
		    {% include JB/pages_list %}
			</ul>
		</div>
	</header>
</div>

