

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">



    <div class="container">



      <a class="brand pull-left" href="{{ HOME_PATH }}">{{ site.title }}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          {% assign pages_list = site.pages %}
		      {% assign group = 'navigation' %}
		      {% include JB/pages_list %}
        </ul>
      </div>

      <div class="toggle-switch pull-right">
				<input type="checkbox" id="toggle-1" />
				<div class="bg"></div>
				<label for="toggle-1"><span>ON</span><span>OFF</span></label>
				<!-- <ul class="mobi-menu nav"> -->
				<ul class="mobi-menu nav nav-tabs nav-stacked">
					{% assign pages_list = site.pages %}
			    {% assign group = 'navigation' %}
			    {% include JB/pages_list %}
				</ul>
			</div>



    </div>
  </div>
</div>


